<div class="tab-pane fade" id="sidebar-1-3" role="tabpanel" aria-labelledby="sidebar-1-3" th:fragment="changepass_tab"  xmlns:th="https://www.thymeleaf.org">
    <div class="row">
        <div class="col">
            <h2>Đổi mật khẩu</h2>
        </div>
    </div>

    <form th:action="@{/users/change-password}" method="post">
        <!-- Current Password -->
        <fieldset class="mb-2">
            <div class="row">
                <div class="col-12">
                    <div class="form-label-group">
                        <input type="password" id="currentPassword" name="currentPassword" class="form-control form-control-lg" placeholder="Mật khẩu cũ" required>
                        <label for="currentPassword">Mật khẩu cũ</label>
                    </div>
                </div>
            </div>
        </fieldset>

        <!-- New Password -->
        <fieldset class="mb-2">
            <div class="row">
                <div class="col-12">
                    <div class="form-label-group">
                        <input type="password" id="newPassword" name="newPassword" class="form-control form-control-lg" placeholder="Mật khẩu mới" required>
                        <label for="newPassword">Mật khẩu mới</label>
                    </div>
                </div>
            </div>
        </fieldset>

        <!-- Confirm New Password -->
        <fieldset class="mb-2">
            <div class="row">
                <div class="col-12">
                    <div class="form-label-group">
                        <input type="password" id="confirmPassword" name="confirmPassword" class="form-control form-control-lg" placeholder="Xác nhận mật khẩu" required>
                        <label for="confirmPassword">Xác nhận mật khẩu</label>
                    </div>
                </div>
            </div>
        </fieldset>

        <!-- Submit Button -->
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-primary">Lưu mật khẩu</button>
            </div>
        </div>
    </form>
</div>