<!-- favorites -->
<div class="tab-pane fade show active" id="sidebar-1-2" role="tabpanel" aria-labelledby="sidebar-1-2" th:fragment="favor"  xmlns:th="https://www.thymeleaf.org">
    <div class="row align-items-end">
        <div class="col">
            <h2 th:text="|Yêu thích|">Yêu thích</h2>
        </div>
        <div class="col text-right">
            <a th:href="@{/add-all-to-cart}" class="underline">
                <i class="icon-plus"></i>
                <span th:text="|Thêm tất cả vào giỏ hàng|">Thêm tất cả vào giỏ hàng</span>
            </a>
        </div>
    </div>
    <div class="row gutter-2">
        <div class="col-md-6" th:each="product : ${favoriteProducts}">
            <div class="card card-product">
                <figure class="card-image">
                    <a th:href="@{/remove-from-favorites/{id}(id=${product.id})}" class="action">
                        <i class="icon-x"></i>
                    </a>
                    <a th:href="@{/product/{id}(id=${product.id})}">
                        <img th:src="${product.image1}" alt="Image">
                        <img th:src="${product.image2}" alt="Image">
                    </a>
                </figure>
                <div class="card-footer">
                    <h3 class="card-title">
                        <a th:href="@{/product/{id}(id=${product.id})}" th:text="${product.name}">Black IC Pendant Light</a>
                    </h3>
                    <span class="price" th:text="${product.price}">$410</span>
                </div>
            </div>
            <fieldset class="my-1">
                <div class="row">
                    <div class="col-12">
                        <div class="select-frame">
                            <select class="custom-select custom-select-lg"
                                    th:id="'custom-select-' + ${product.id}"
                                    data-placeholder="Select colour">
                                <option label="color"></option>
                                <option th:each="color : ${product.colors}"
                                        th:value="${color}"
                                        th:text="${color}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="select-frame">
                            <select class="custom-select custom-select-lg"
                                    th:id="'custom-select-' + ${product.id} + '-size'"
                                    data-placeholder="Size">
                                <option label="size"></option>
                                <option th:each="size : ${product.sizes}"
                                        th:value="${size}"
                                        th:text="${size}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </fieldset>
            <a th:href="@{/add-to-cart/{id}(id=${product.id})}" class="btn btn-block btn-primary">
                <span th:text="|Thêm vào vào giỏ hàng|">Thêm vào vào giỏ hàng</span>
            </a>
        </div>
    </div>
</div>
