<footer class="bg-dark pb-0 text-white" th:fragment="footer"  xmlns:th="https://www.thymeleaf.org">
  <div class="container" >
    <div class="row justify-content-md-between gutter-2">

      <!-- lien he -->
      <div class="order-1 col-md-8 col-lg-4" id="contactSection">
        <div class="row">
          <div class="col">
            <h4 class="eyebrow mb-1">Liên hệ</h4>
            <ul class="menu-list">
              <li class="menu-list-item">Giờ hoạt động: 08h - 22h hàng ngày (cả T7 CN)</li>
              <li class="menu-list-item">SĐT liên hệ: 094899798</li>
              <li class="menu-list-item">Email liên hệ: phanuan028@gmail.com</li>
              <li class="menu-list-item">Địa chỉ: 01 Đ. Võ Văn Ngân, Linh Chiểu, Thủ Đức, Hồ Chí Minh</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- mang xa hoi -->
      <div class="order-2 order-md-2 order-lg-2 col-md-8 col-lg-4">
        <h4 class="eyebrow mb-1">Kết nối cùng BBPerfume</h4>
        <div>
          <ul class="list list--horizontal">
            <li><a href="https://www.facebook.com/SweetLove09.11/" class="text-hover-facebook"><i class="fs-28 icon-facebook-square-brands"></i></a></li>
            <li><a href="https://www.instagram.com/phanquan028/" class="text-hover-instagram"><i class="fs-28 icon-instagram-square-brands"></i></a></li>
          </ul>
        </div>
      </div>

      <!-- settings -->
      <div class="order-3 order-md-2 order-lg-3 col-md-4 col-lg-3">
        <h4 class="eyebrow mb-1">Thanh toán</h4>
        <div></div>
        <ul class="list list--horizontal">
          <li><img th:src="@{assets/images/demo/visa-1.svg}" class="payment" alt="Image"></li>
          <li><img th:src="@{assets/images/demo/master-card-1.svg}" class="payment" alt="Image"></li>
          <li><img th:src="@{assets/images/demo/amex-1.svg}" class="payment" alt="Image"></li>
        </ul>
      </div>

    </div>
  </div>
  <div id="scroll-to-top" class="scroll-to-top">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path d="M12 19V6m0 0l-7 7m7-7l7 7"/>
    </svg>
  </div>
  <div class="bg-transparent mt-8 py-2">
    <div class="container">
      <div class="row align-items-center gutter-1">
        <div class="col-md-8">
          <p class="small text-muted"> Bản quyền nội dung thuộc về &copy; 2023 BBPerfume</p>
        </div>
      </div>
    </div>
  </div>
</footer>


