<footer class="bg-dark pb-0 text-white" th:fragment="footer"  xmlns:th="https://www.thymeleaf.org">
  <div class="container">
    <div class="row justify-content-md-between gutter-2">

      <!-- menu -->
      <div class="order-1 col-md-8 col-lg-4">
        <div class="row">
          <div class="col">
            <h4 class="eyebrow mb-1">BB Perfume</h4>
            <ul class="menu-list">
              <li class="menu-list-item"><a  class="menu-list-link">Liên hệ</a></li>
            </ul>
          </div>
          <div class="col">
            <h4 class="eyebrow mb-1">Hỗ trợ</h4>
            <ul class="menu-list">
              <li class="menu-list-item"><a  class="menu-list-link">Cách thức mua hàng</a></li>
              <li class="menu-list-item"><a  class="menu-list-link">Hướng dẫn đặt hàng</a></li>
              <li class="menu-list-item"><a  class="menu-list-link">Phương thức thanh toán</a></li>
              <li class="menu-list-item"><a  class="menu-list-link">Theo dõi đơn hàng</a></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- subscribe -->
      <div class="order-2 order-md-3 order-lg-2 col-md-8 col-lg-4">
        <h4 class="eyebrow mb-1">Kết nối cùng BBPerfume</h4>
        <div>
          <ul class="list list--horizontal">
            <li><a href="https://www.facebook.com/SweetLove09.11/" class="text-hover-facebook"><i class="fs-28 icon-facebook-square-brands"></i></a></li>
            <li><a  class="text-hover-instagram"><i class="fs-28 icon-instagram-square-brands"></i></a></li>
          </ul>
        </div>
      </div>

      <!-- settings -->
      <div class="order-3 order-md-2 order-lg-3 col-md-4 col-lg-3">
        <h4 class="eyebrow mb-1">Thanh toán</h4>
        <div></div>
        <ul class="list list--horizontal">
          <li><img th:src="@{assets/images/demo/visa-1.svg}" class="payment" alt="Image"></li>
          <li><img th:src="@{assets/images/demo/master-card-1.svg}" class="payment" alt="Image"></li>
          <li><img th:src="@{assets/images/demo/amex-1.svg}" class="payment" alt="Image"></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="bg-transparent mt-8 py-2">
    <div class="container">
      <div class="row align-items-center gutter-1">
        <div class="col-md-8">
          <p class="small text-muted"> Bản quyền nội dung thuộc về &copy; 2023 BBPerfume</p>
        </div>
      </div>
    </div>
  </div>
</footer>
