<div class="cart-item" th:if="${usercart != null}" th:each="cart : ${usercart}" th:fragment="order-cart" xmlns:th="https://www.thymeleaf.org">
	<!--checkbox-->
	<div class="cart-item-header">
		<input type="checkbox"  class="cart-item-checkbox" data-price="100000" data-cart-id="1">
	</div>
	<!--hinh anh-->
	<a th:href="@{#!}" class="cart-item-image"><img th:src="${cart.imageurl}" alt="Image"></a>
	<div class="cart-item-body">
		<div class="row">
			<div class="col-10">
				<div class="row">
					<!--ten san pham, thuong hieu, gia tien-->
					<div class="col-md-6">
						<h5 class="cart-item-title" th:text="${cart.productname}"></h5>
						<small class="cart-item-subtitle" th:text="${cart.brand}"></small>
						<ul class="cart-item-meta">
							<li class="text-red" th:text="${cart.price != null ? cart.price + ' ₫' : '0 ₫'}"></li>
						</ul>
					</div>
					<!--so luong-->
					<div class="col-md-6">
						<ul class="list list--horizontal">
							<li>
								<div class="dYBF91">
									<button type="button" class="aGq8SN" onclick="document.getElementById('quantity').stepDown()" aria-label="Decrease">-</button>
									<input id="quantity" class="aGq8SN jKOh4z" type="text" value="1" min="1" max="100" step="1">
									<button type="button" class="aGq8SN" onclick="document.getElementById('quantity').stepUp()" aria-label="Increase">+</button>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!--nut xoa-->
			<div class="col-2 text-right">
				<ul class="cart-item-options">
					<li><a th:href="@{/personal/cart/delete/{id}(id=${cart.cartid})}" class="icon-x"></a></li>
				</ul>
			</div>

		</div>
	</div>
</div>