<div class="modal fade" id="adresses" tabindex="-1" role="dialog" aria-labelledby="adressesLabel" aria-hidden="true" th:fragment="savedaddress"  xmlns:th="https://www.thymeleaf.org">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="adressesLabel">Select Address</h5>
            </div>
            <div class="modal-body">
                <div class="custom-control custom-choice">
                    <input type="radio" name="choice-address" class="custom-control-input" id="custom-address-1">
                    <label class="custom-control-label text-dark d-flex justify-content-between align-items-center" for="custom-address-1">
                <span>
                  <h4 class="d-block eyebrow text-muted">Main Delivery Address</h4>
                  <span class="fs-14">
                    Jhon Doe <br/>
                    1620 East Ayre Str <br/>
                    Suite M3115662 <br/>
                    Wilmington, DE 19804 <br/>
                    United States
                  </span>
                </span>
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <div class="container-fluid">
                    <div class="row gutter-0">
                        <div class="col">
                            <button type="button" class="btn btn-block btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-block btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>