<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/assets/css/vendor.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/style.css}" />

    <title th:text="${products.productname}"></title>
</head>
<body>

<header th:replace="~{decorator/header :: header}"></header>

<section style="padding: 2.5rem 0;"></section>

<!-- breadcrumbs -->
<section class="breadcrumbs bg-light">
    <div class="container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{/home}" th:text="'Trang chủ'"></a></li>
                        <li class="breadcrumb-item active" aria-current="page"  th:text="${products.productname}"></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<!-- product -->
<section class="hero">
    <div class="container">
        <div class="row gutter-2 gutter-md-4 justify-content-between">
            <div class="col-lg-7">
                <div class="row gutter-1 justify-content-between">
                    <div class="col-lg-10 order-lg-2">
                        <div class="owl-carousel owl-carousel--alt gallery" data-margin="0" data-slider-id="1" data-thumbs="true" data-nav="true">
                            <a class="cart-item-image"><img th:src="${products.imageurl}" alt="Image"></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="row">
                    <div class="col-12">
                        <span class="eyebrow text-muted" th:text="${products.brand}"></span>
                        <h1 th:text="${products.productname}"></h1>
                        <strong>Tình trạng :
                            <span style="color: #3eb846;">Còn hàng </span>
                        </strong>
                    </div>
                </div>

                <!-- description -->
                <div class="row">
                    <div class="col-12">
                        <div class="accordion" id="accordion-1">
                            <div class="card active">
                                <div class="card-header" id="heading-1-1">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-1-1" aria-expanded="true" aria-controls="collapse-1-1">
                                            Mô tả
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse-1-1" class="collapse show" aria-labelledby="heading-1-1" data-parent="#accordion-1">
                                    <div class="card-body">
                                        <p th:text="${products.description}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gutter-2">
                    <div class="col-12">
                         <span class="price text-red" style="font-size: 20px; color: red; font-weight: bold;" >
                             <bdi th:text="${products.price}"></bdi>
                         </span>
                     </div>
                    <div class="col-12">
                        <strong>Số lượng :
                            <span class="dYBF91">
                                <button type="button" class="aGq8SN" onclick="changeQuantity(this, -1); updateCartTotal();" aria-label="Decrease">-</button>
                                <input class="aGq8SN jKOh4z quantity-input" type="number" value="1" min="1" max="100" step="1" onchange="updateCartTotal()">
                                <button type="button" class="aGq8SN" onclick="changeQuantity(this, 1); updateCartTotal();" aria-label="Increase">+</button>
                            </span>
                        </strong>
                    </div>
                    <div class="col-12">
                        <a th:href="@{/personal/cart/add/{id}(id=${products.productid})}" class="btn btn-block btn-primary" th:text="'Thêm vào giỏ hàng'"></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>



<footer th:replace="~{decorator/footer :: footer}"></footer>

<script th:src="@{/assets/js/vendor.min.js}"></script>
<script th:src="@{/assets/js/app.js}"></script>
</body>
</html>
