<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/assets/css/vendor.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/style.css}" />
    <script async th:src="@{https://www.googletagmanager.com/gtag/js?id=UA-176058743-2}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-176058743-2');
    </script>
    <title>Trang chủ</title>
</head>

<body>

<header th:replace="home/topbar-header :: header"></header>

<!-- Swiper -->
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="image" th:style="|background-image: url('@{/assets/images/demo/sw1.jpg}');|"></div>
            <div class="container">
                <div class="row align-items-end vh-100">
                    <div class="col-lg-8 text-white" data-swiper-parallax-x="-100%">
                        <span class="eyebrow">Bộ sưu tập mới</span>
                        <h1 class="mb-3 text-uppercase">MANCERA PARIS</h1>
                        <a th:href="@{/productdetail}" class="btn btn-outline-white">Xem thêm</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="swiper-slide">
            <div class="image image--overlay" th:style="|background-image: url('@{/assets/images/demo/swi1.png}');|"></div>
            <div class="container">
                <div class="row align-items-end vh-100">
                    <div class="col-lg-8 text-white" data-swiper-parallax-x="-100%">
                        <span class="eyebrow">Sản phẩm mới</span>
                        <h1>AQVA POUR HOMME</h1>
                        <a th:href="@{/productdetail}" class="btn btn-outline-white">Mua ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-footer">
        <div class="container">
            <div class="row justify-content-end align-items-center">
                <div class="col-lg-6 text-right">
                    <div class="swiper-navigation">
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-pagination"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Nam và Nữ -->
<section class="py-1">
    <div class="container-full">
        <div class="row gutter-1">
            <div class="col-md-6">
                <div class="card card-tile">
                    <figure class="card-image equal vh-75">
                        <span class="image" th:style="|background-image: url('@{/assets/images/demo/spnam1.jpg}');|"></span>
                    </figure>
                    <div class="card-footer p-lg-5">
                        <div class="bg-white d-inline-block p-1">
                            <h2 class="card-title">Nước Hoa Nam</h2>
                            <a th:href="@{/menproduct}" class="underlined">Xem thêm</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card card-tile">
                    <figure class="card-image equal vh-75">
                        <span class="image" th:style="|background-image: url('@{/assets/images/demo/womanper.jpg}');|"></span>
                    </figure>
                    <div class="card-footer p-lg-5">
                        <div class="bg-white d-inline-block p-1">
                            <h2 class="card-title">Nước Hoa Nữ</h2>
                            <a th:href="@{/womenproduct}" class="underlined">Xem thêm</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer th:replace="home/footer :: footer"></footer>

<script th:src="@{/assets/js/vendor.min.js}"></script>
<script th:src="@{/assets/js/app.js}"></script>
</body>

</html>
