<!doctype html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="assets/css/vendor.css" />
<link rel="stylesheet" href="assets/css/style.css" />
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async
	src="https://www.googletagmanager.com/gtag/js?id=UA-176058743-2"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() {
		dataLayer.push(arguments);
	}
	gtag('js', new Date());

	gtag('config', 'UA-176058743-2');
</script>

<title>Trang chủ</title>
</head>
<body>

	<header th:replace="~{decorator/topbar_header :: topbarheader}"></header>


	<!-- swiper -->
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<div class="image"
					style="background-image: url(assets/images/demo/sw1.jpg)"></div>
				<div class="container">
					<div class="row align-items-end vh-100">
						<div class="col-lg-8 text-white" data-swiper-parallax-x="-100%">
							<span class="eyebrow">Bộ sưu tập mới</span>
							<h1 class="mb-3 text-uppercase">MANCERA PARIS</h1>
							<a href="/productdetail" class="btn btn-outline-white">Xem
								thêm</a>
						</div>
					</div>
				</div>
			</div>

			<!-- https://orchard.vn/san-pham/bvlgari-aqva-pour-homme/ -->
			<div class="swiper-slide">
				<div class="image image--overlay"
					style="background-image: url(assets/images/demo/swi1.png)"></div>
				<div class="container">
					<div class="row align-items-center gutter-1">
						<div class="col-lg-3">
							<div class="pr-lg-5">
								<div class="level-1">
									<span class="eyebrow text-muted">SẢN PHẨM KHÁC</span>
									<h2>Nước Hoa</h2>
									<div class="nav nav-tabs flex-lg-column mt-md-3 lavalamp">
										<a class="nav-item nav-link active" data-filter="1">UNISEX</a>
										<a class="nav-item nav-link" data-filter="2">NICHE</a> <a
											class="nav-item nav-link" data-filter="3">MINI</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-9">
							<div class="row gutter-2 filtr-container imagesloaded">

								<!-- unisex -->
								<div class="col-12 filtr-item" data-category="1"
									data-sort="value">
									<div class="owl-carousel owl-carousel--mask visible"
										data-items="[2,2,2,1]" data-loop="true" data-margin="10"
										data-nav="true">

										<!-- https://orchard.vn/san-pham/tom-ford-oud-wood/ -->
										<div class="card card-product">
											<figure class="card-image">
												<a th:href="@{#!}" class="action"><i class="icon-heart"></i></a>
												<a th:href="@{#!}"> <img
													th:src="@{assets/images/demo/unisex3.jpg}" height="534"
													alt="Image"> <img
													th:src="@{assets/images/demo/unisex3-1.jpg}" height="534"
													alt="Image">
												</a>
											</figure>
											<a th:href="@{/productdetail}" class="card-body">
												<h3 class="card-title">Tom Ford Oud Wood</h3> <span
												class="price">6.180.000 ₫</span>
											</a>
										</div>

										<!--https://orchard.vn/san-pham/tom-ford-lost-cherry/  -->
										<div class="card card-product">
											<figure class="card-image">
												<a th:href="@{#!}" class="action"><i class="icon-heart"></i></a>
												<a th:href="@{#!}"> <img
													th:src="@{assets/images/demo/u2-1.png}" height="534"
													alt="Image"> <img
													th:src="@{assets/images/demo/u2-2.png}" height="534"
													alt="Image">
												</a>
											</figure>
											<a th:href="@{/productdetail}" class="card-body">
												<h3 class="card-title">Tom Ford Lost Cherry</h3> <span
												class="price">5.980.000 ₫</span>
											</a>
										</div>

										<!-- https://orchard.vn/san-pham/kilian-black-phantom/ -->
										<div class="card card-product">
											<figure class="card-image">
												<a th:href="@{#!}" class="action"><i class="icon-heart"></i></a>
												<a th:href="@{#!}"> <img
													th:src="@{assets/images/demo/unisex2.jpg}" height="534"
													alt="Image"> <img
													th:src="@{assets/images/demo/unisex2-1.jpg}" height="534"
													alt="Image">
												</a>
											</figure>
											<a th:href="@{/productdetail}" class="card-body">
												<h3 class="card-title">Kilian Black Phantomh</h3> <span
												class="price">5.780.000 ₫</span>
											</a>
										</div>
									</div>
								</div>

								<!-- niche -->
								<div class="col-12 filtr-item filteredOut" data-category="2"
									data-sort="value">
									<div class="owl-carousel owl-carousel--mask visible"
										data-items="[2,2,2,1]" data-loop="true" data-margin="10"
										data-nav="true">

										<!-- https://orchard.vn/san-pham/tom-ford-black-orchid-parfum/ -->
										<div class="card card-product">
											<figure class="card-image">
												<a th:href="@{#!}" class="action"><i class="icon-heart"></i></a>
												<a th:href="@{#!}"> <img
													th:src="@{assets/images/demo/niche1.jpg}" height="534"
													alt="Image"> <img
													th:src="@{assets/images/demo/niche1-1.jpg}" height="534"
													alt="Image">
												</a>
											</figure>
											<a th:href="@{#!}" class="card-body">
												<h3 class="card-title">Tom Ford Black Orchid Parfum</h3> <span
												class="price">4.080.000 ₫</span>
											</a>
										</div>

										<!-- https://orchard.vn/san-pham/kilian-angels-share-by-kilian-edp/ -->
										<div class="card card-product">
											<figure class="card-image">
												<a th:href="@{#!}" class="action"><i class="icon-heart"></i></a>
												<a th:href="@{#!}"> <img
													th:src="@{assets/images/demo/ni2-1.png}" height="534"
													alt="Image"> <img
													th:src="@{assets/images/demo/ni2-2.png}" height="534"
													alt="Image">
												</a>
											</figure>
											<a th:href="@{#!}" class="card-body">
												<h3 class="card-title">Kilian Angels’ Share</h3> <span
												class="price">4.280.000 ₫</span>
											</a>
										</div>

										<!-- https://orchard.vn/san-pham/kilian-good-girl-gone-bad/ -->
										<div class="card card-product">
											<figure class="card-image">
												<a th:href="@{#!}" class="action"><i class="icon-heart"></i></a>
												<a th:href="@{#!}"> <img
													th:src="@{assets/images/demo/niche3.jpg}" height="534"
													alt="Image"> <img
													th:src="@{assets/images/demo/niche3-1.jpg}" height="534"
													alt="Image">
												</a>
											</figure>
											<a th:href="@{#!}" class="card-body">
												<h3 class="card-title">Kilian Good Girl Gone Bad (with
													Coffret)</h3> <span class="price">6.080.000 ₫</span>
											</a>
										</div>
									</div>
								</div>

								<!-- mini -->
								<div class="col-12 filtr-item filteredOut" data-category="3"
									data-sort="value">
									<div class="owl-carousel owl-carousel--mask visible"
										data-items="[2,2,2,1]" data-loop="true" data-margin="10"
										data-nav="true">

										<!-- https://orchard.vn/san-pham/versace-pour-homme-mini/ -->
										<div class="card card-product">
											<figure class="card-image">
												<a th:href="@{#!}" class="action"><i class="icon-heart"></i></a>
												<a th:href="@{#!}"> <img
													th:src="@{assets/images/demo/mi-1.png}" height="534"
													alt="Image"> <img
													th:src="@{assets/images/demo/mi-2.png}" height="534"
													alt="Image">
												</a>
											</figure>
											<a th:href="@{#!}" class="card-body">
												<h3 class="card-title">Versace Pour Homme Mini</h3> <span
												class="price">280.000 ₫</span>
											</a>
										</div>

										<!-- https://orchard.vn/san-pham/dior-jadore-infinissime-edp-mini/ -->
										<div class="card card-product">
											<figure class="card-image">
												<a th:href="@{#!}" class="action"><i class="icon-heart"></i></a>
												<a th:href="@{#!}"> <img
													th:src="@{assets/images/demo/mi2-1.png}" height="534"
													alt="Image"> <img
													th:src="@{assets/images/demo/mi-2-2.png}" height="534"
													alt="Image">
												</a>
											</figure>
											<a th:href="@{#!}" class="card-body">
												<h3 class="card-title">Dior J’Adore Mini</h3> <span
												class="price">380.000 ₫</span>
											</a>
										</div>

										<!-- https://orchard.vn/san-pham/jean-paul-gaultier-scandal-mini/ -->
										<div class="card card-product">
											<figure class="card-image">
												<a th:href="@{#!}" class="action"><i class="icon-heart"></i></a>
												<a th:href="@{#!}"> <img
													th:src="@{assets/images/demo/mi3-1.png}" height="534"
													alt="Image"> <img
													th:src="@{assets/images/demo/mi3-2.png}" height="534"
													alt="Image">
												</a>
											</figure>
											<a th:href="@{#!}" class="card-body">
												<h3 class="card-title">Jean Paul Gaultier Scandal Mini</h3>
												<span class="price">420.000 ₫</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


		</div>
		<div class="swiper-footer">
			<div class="container">
				<div class="row justify-content-end align-items-center">
					<div class="col-lg-6 text-right">
						<div class="swiper-navigation">
							<div class="swiper-button-prev"></div>
							<div class="swiper-pagination"></div>
							<div class="swiper-button-next"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="~{decorator/footer :: footer}"></footer>

	<script th:src="@{/assets/js/vendor.min.js}"></script>
	<script th:src="@{/assets/js/app.js}"></script>
</body>

</html>