<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="assets/css/vendor.css" />
    <link rel="stylesheet" href="assets/css/style.css" />

    <title>Cart</title>
</head>
<body class="bg-light">

<header th:replace="home/header :: header"></header>

<!-- cart -->
<section class="sectionCart">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Giỏ hàng</h1>
            </div>
        </div>

        <div class="row gutter-3 gutter-lg-1">

            <!-- content -->
            <div class="col">
                <div class="bg-white cart-item-list p-2 p-lg-3 mb-1">
                    <div th:replace="home/order-cart :: order-cart"></div>


                    <div class="cart-item">
                        <a href="#!" class="cart-item-image"><img src="assets/images/demo/product-3.jpg" alt="Image"></a>
                        <div class="cart-item-body">
                            <div class="row">
                                <div class="col-10">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5 class="cart-item-title">Skirt</h5>
                                            <small class="cart-item-subtitle">Zara</small>
                                            <ul class="cart-item-meta">
                                                <li><s>$35.00</s></li>
                                                <li class="text-red">$29.00</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <ul class="list list--horizontal">
                                                <li>
                                                    <div class="dropdown">
                                                        <a class="dropdown-toggle" href="#!" role="button" id="dropdown-6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            Số lượng <span>1</span>
                                                        </a>
                                                        <div class="dropdown-menu" aria-labelledby="dropdown-6">
                                                            <a class="dropdown-item active" href="#!">1</a>
                                                            <a class="dropdown-item" href="#!">2</a>
                                                            <a class="dropdown-item" href="#!">3</a>
                                                            <a class="dropdown-item" href="#!">4</a>
                                                            <a class="dropdown-item" href="#!">5</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2 text-right">
                                    <ul class="cart-item-options">
                                        <li><a href="" class="icon-x"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="cart-item">
                        <a href="#!" class="cart-item-image"><img src="assets/images/demo/product-5.jpg" alt="Image"></a>
                        <div class="cart-item-body">
                            <div class="row">
                                <div class="col-10">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5 class="cart-item-title">Gorgeous Dress</h5>
                                            <small class="cart-item-subtitle">Ralph Lauren</small>
                                            <ul class="cart-item-meta">
                                                <li><s>$129.00</s></li>
                                                <li class="text-red">$69.00</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <ul class="list list--horizontal">
                                                <li>
                                                    <div class="dropdown">
                                                        <a class="dropdown-toggle" href="#!" role="button" id="dropdown-9" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            Số lượng <span>1</span>
                                                        </a>
                                                        <div class="dropdown-menu" aria-labelledby="dropdown-9">
                                                            <a class="dropdown-item active" href="#!">1</a>
                                                            <a class="dropdown-item" href="#!">2</a>
                                                            <a class="dropdown-item" href="#!">3</a>
                                                            <a class="dropdown-item" href="#!">4</a>
                                                            <a class="dropdown-item" href="#!">5</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2 text-right">
                                    <ul class="cart-item-options">
                                        <li><a href="" class="icon-x"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <a href="" class="underlined">Tiếp tục mua hàng</a>
            </div>


            <!-- sidebar -->
            <aside class="col-lg-4">
                <div class="bg-white p-2 p-lg-3">
                    <h2 class="mb-3 text-uppercase fs-20">Tổng hóa đơn</h2>
                    <div class="input-combined mb-2">
                        <input type="text" class="form-control" placeholder="Mã giảm giá" aria-label="Promo code" aria-describedby="button-addon2">
                        <button class="btn btn-white" type="button" id="button-addon2">Áp dụng</button>
                        <span class="input-combined_indicator"></span>
                    </div>
                    <ul class="list-group list-group-minimal mb-3">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Tạm tính
                            <span>$84.00</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Phí vận chuyển
                            <span>$8.00</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center text-red">
                            Giảm giá
                            <span class="text-red">-$14.00</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center text-uppercase font-weight-bold">
                            Tổng thanh toán
                            <span>$78.00</span>
                        </li>
                    </ul>
                    <a href="" class="btn btn-primary btn-block">Thanh toán</a>
                </div>
            </aside>
        </div>
    </div>
</section>

<footer th:replace="home/footer :: footer"></footer>

<script src="assets/js/vendor.min.js"></script>
<script src="assets/js/app.js"></script>

</body>
</html>