<!doctype html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="assets/css/vendor.css" />
    <link rel="stylesheet" th:href="assets/css/style.css" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-176058743-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-176058743-2');
</script>

    <title>Trang chủ</title>
  </head>
  <body>
    
    <!-- header -->
   <header class="header header-absolute">
      <div class="py-1 bg-dark">
        <div class="container-fluid">
          <div class="row">
            <div class="col">
              <div class="owl-carousel owl-carousel-promo" data-loop="true" data-items="[3,3,2,1]" data-margin="10" data-nav="true">
                <h6 class="fs-14 text-uppercase text-center text-white m-0"><i class="icon-truck mr-1 text-opaque"></i>FREESHIP CHO MỌI ĐƠN HÀNG</h6>
                <h6 class="fs-14 text-uppercase text-center text-white m-0"><i class="icon-award mr-1 text-opaque"></i>THƯƠNG HIỆU NƯỚC HOA UY TÍN TỪ 2023</h6>
                <h6 class="fs-14 text-uppercase text-center text-white m-0"><i class="icon-shield mr-1 text-opaque"></i>ĐẢM BẢO HOÀN TIỀN TRONG 30 NGÀY</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light">    
        <!-- logo -->
          <a th:href="index.html" class="navbar-brand order-1 order-lg-2">
          <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
 width="200.000000pt" height="35.000000pt" viewBox="0 0 562.000000 73.000000"
 preserveAspectRatio="xMidYMid meet">

<g transform="translate(0.000000,73.000000) scale(0.100000,-0.100000)"
fill="#000000" stroke="none">
<path d="M170 345 l0 -205 128 0 c200 0 242 22 242 127 0 56 -12 89 -39 110
-13 9 -14 14 -3 24 6 7 12 33 12 56 0 33 -6 50 -25 68 -23 24 -28 25 -170 25
l-145 0 0 -205z m245 114 c4 -5 4 -21 1 -35 -6 -24 -9 -25 -79 -22 l-72 3 -3
33 -3 32 75 0 c42 0 78 -5 81 -11z m29 -161 c7 -11 7 -26 0 -45 -9 -28 -10
-28 -94 -28 l-85 0 -3 33 c-6 60 -1 63 89 60 64 -2 84 -7 93 -20z"/>
<path d="M780 344 l0 -206 155 4 c151 3 155 4 180 29 48 47 51 152 8 201 -12
14 -13 23 -4 48 14 42 4 87 -27 110 -22 18 -41 20 -168 20 l-144 0 0 -206z
m245 91 l0 -30 -72 -3 -73 -3 0 36 0 36 73 -3 72 -3 0 -30z m29 -131 c10 -25
7 -59 -6 -72 -7 -7 -43 -12 -90 -12 l-78 0 0 50 0 50 84 0 c67 0 85 -3 90 -16z"/>
<path d="M1390 344 l0 -205 48 3 47 3 3 58 3 57 70 0 c127 0 173 41 173 153
-1 42 -6 65 -21 85 -33 45 -58 52 -195 52 l-128 0 0 -206z m240 107 c15 -29
12 -72 -7 -93 -12 -13 -31 -18 -75 -18 l-58 0 0 65 0 65 65 0 c53 0 66 -3 75
-19z"/>
<path d="M1972 348 l3 -203 163 -3 162 -2 0 40 0 40 -115 0 -115 0 0 45 0 45
85 0 85 0 0 40 0 40 -85 0 -85 0 0 40 0 40 115 0 115 0 0 40 0 40 -165 0 -165
0 2 -202z"/>
<path d="M2540 346 l0 -206 45 0 45 0 0 70 0 70 40 0 c38 0 40 -2 80 -70 l41
-70 44 0 c26 0 45 5 45 11 0 6 -16 38 -35 71 l-35 60 29 27 c36 34 45 65 39
132 -4 37 -12 58 -32 77 -26 26 -30 27 -166 30 l-140 4 0 -206z m241 100 c8
-16 8 -34 2 -53 -9 -27 -12 -28 -81 -31 l-72 -3 0 56 0 55 70 0 c65 0 71 -2
81 -24z"/>
<path d="M3130 345 l0 -205 45 0 44 0 3 78 3 77 88 3 88 3 -3 37 -3 37 -87 3
-88 3 0 44 0 44 118 3 117 3 3 38 3 37 -165 0 -166 0 0 -205z"/>
<path d="M3672 408 c4 -172 18 -209 89 -246 58 -31 182 -29 225 4 64 48 69 62
72 230 l3 154 -45 0 -46 0 0 -124 c0 -130 -10 -180 -40 -196 -32 -17 -106 -12
-131 9 -23 18 -24 26 -27 165 l-3 146 -51 0 -50 0 4 -142z"/>
<path d="M4300 345 l0 -205 45 0 45 0 0 99 c0 55 4 102 9 105 5 3 25 -33 45
-82 50 -121 46 -117 103 -120 l50 -3 44 106 c24 58 47 105 51 105 4 0 8 -47 8
-106 l0 -105 48 3 47 3 0 200 0 200 -61 3 -61 3 -59 -142 c-32 -78 -63 -141
-68 -141 -5 1 -35 63 -66 139 l-58 138 -61 3 -61 3 0 -206z"/>
<path d="M5030 345 l0 -205 163 2 162 3 3 37 3 37 -118 3 -118 3 0 40 0 40 88
3 87 3 0 39 0 40 -90 0 -90 0 0 40 0 39 118 3 117 3 3 38 3 37 -165 0 -166 0
0 -205z"/>
</g>
</svg>
          </a>
		<!-- logo -->
	
          <div class="collapse navbar-collapse order-4 order-lg-1" id="navbarMenu">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown dropdown-sm dropdown-hover">
                <a class="nav-link dropdown-toggle" th:href="/templates/index" id="navbarDropdown-1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Trang chủ
                </a>
              </li>
              
              <li class="nav-item dropdown dropdown-lg dropdown-hover">
                <a class="nav-link dropdown-toggle" th:href="#!" id="navbarDropdown-2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Thương hiệu
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown-2">
              	  <div class="container-md">
                    <div class="row ">
                      <div class="col">
                      	<ul class="menu-list">
                      		<li class="menu-list-item"><a th:href="" class="menu-list-link">BVLGARI	</a>
                      		<li class="menu-list-item"><a th:href="" class="menu-list-link">KILIAN	</a>
                      		
                      	</ul>
                      </div>
                      <div class="col">
                      	<ul class="menu-list">
                      		<li class="menu-list-item"><a th:href="" class="menu-list-link">YVES SAINT LAURENT	</a>
                      		<li class="menu-list-item"><a th:href="" class="menu-list-link">VERSACE	</a>
                      		
                      	</ul>
                      </div>
                       <div class="col">
                      	<ul class="menu-list">
                      		<li class="menu-list-item"><a th:href="" class="menu-list-link">CHANEL	</a>
                      		<li class="menu-list-item"><a th:href="" class="menu-list-link">JEAN PAUL GAULTIER	</a>
                      		
                      	</ul>
                      </div>
                       <div class="col">
                      	<ul class="menu-list">
                      		<li class="menu-list-item"><a th:href="" class="menu-list-link">DIOR	</a>
                      		<li class="menu-list-item"><a th:href="" class="menu-list-link">TOM FORD	</a>
                      		
                      	</ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              
           
              <li class="nav-item dropdown dropdown-sm dropdown-hover">
                <a class="nav-link dropdown-toggle" th:href="#!" id="navbarDropdown-2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Sản phẩm
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown-2">
              	  <div class="container">
              	  	<div class="row ">
                      <div class="col">
                     	<span class="eyebrow text-muted mb-1">Nước Hoa</span>
                      	<ul class="menu-list">         	
                      		<li class="menu-list-item"><a th:href="" class="menu-list-link">Nam</a>
                      		<li class="menu-list-item"><a th:href="" class="menu-list-link"> Nữ</a>
                      		<li class="menu-list-item"><a th:href="" class="menu-list-link">Unisex</a>
                      		<li class="menu-list-item"><a th:href="" class="menu-list-link"> Mini</a>
                      		<li class="menu-list-item"><a th:href="" class="menu-list-link"> NICHE</a>
                      	</ul>
                      </div>
                     </div>
              	  </div>
              	 </div>
              </li>
              
              <li class="nav-item dropdown-sm dropdown-hover">
                <a class="nav-link dropdown-toggle" th:href="#!" id="navbarDropdown-3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Liên hệ
                </a>
              </li>
            </ul>
          </div>  
           

          <div class="collapse navbar-collapse order-5 order-lg-3" id="navbarMenu2">
            <ul class="navbar-nav ml-auto position-relative">
			
              <!-- search -->
              <li class="nav-item dropdown dropdown-md dropdown-hover">          
                <a class="nav-icon dropdown-toggle" id="navbarDropdown-4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="icon-search d-none d-lg-inline-block"></i>
                  <span class="d-inline-block d-lg-none">Search</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown-4">
                  <div class="form-group">
                    <input type="text" class="form-control" id="searchForm" placeholder="Tìm kiếm sản phẩm hoặc thương hiệu...">
                  </div>
                </div>
              </li>

				
              <!-- users -->
              <li class="nav-item dropdown dropdown-sm dropdown-hover">
                <a class="nav-icon dropdown-toggle" id="navbarDropdown-6" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="icon-user d-none d-lg-inline-block"></i>
                  <span class="d-inline-block d-lg-none">Account</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown-6">
                  <div class="row gutter-2">
                    <div class="col-12">
                    	<ul class="menu-list">         	
                      		<li class="menu-list-item"><a th:href="/login" class="menu-list-link">Đăng nhập</a>
                      		<li class="menu-list-item"><a th:href="" class="menu-list-link">Tạo tài khoản</a>
                      	</ul>
                    </div>
                  </div>
                </div>
              </li>

              <!-- favourites -->
              <li class="d-none d-lg-inline nav-item dropdown dropdown-md dropdown-hover">
                <a class="nav-icon" id="navbarDropdown-7" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-heart"></i></a>
              </li>

              <!-- cart -->
              <li class="nav-item dropdown dropdown-md dropdown-hover">
                <a class="nav-icon dropdown-toggle" id="navbarDropdown-8" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="icon-shopping-bag d-none d-lg-inline-block"></i>
                  <span class="d-inline-block d-lg-none">Bag</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown-8">
                  <div class="row gutter-3">
                    <div class="col-12">
                      <h3 class="eyebrow text-dark fs-16 mb-0">Giỏ hàng</h3>
                    </div>
                    <div class="col-12">
                      <div class="cart-item">

                      </div>
                    </div>
                    <div class="col-12">
                      <ul class="list-group list-group-minimal">
                        <li class="list-group-item d-flex justify-content-between align-items-center text-uppercase font-weight-bold">
                          Tổng (0 sản phẩm)
                          <span>0đ</span>
                        </li>
                      </ul>
                    </div>
                    <div class="col-12">
                      <a th:href="" class="btn btn-outline-secondary btn-block">Xem giỏ hàng</a>
                      <a th:href="" class="btn btn-primary btn-block">Thanh toán</a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <div class="order-2 d-flex d-lg-none" id="navbarMenuMobile">
            <ul class="navbar-nav navbar-nav--icons ml-auto position-relative">

              <!-- search -->
              <li class="nav-item">
                <a th:href="" class="nav-icon"><i class="icon-search"></i></a>
              </li>

              <!-- cart -->
              <li class="nav-item dropdown dropdown-md dropdown-hover">
                <a th:href="" class="nav-icon"><i class="icon-shopping-bag"></i></a>
              </li>

              <!-- menu -->
              <li class="nav-item dropdown dropdown-md dropdown-hover">
                <a th:href="" class="nav-icon" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                  <i class="icon-menu"></i>
                </a>
              </li>

            </ul>
          </div>

        </nav>
      </div>
    </header>
    

    <!-- swiper -->
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="image" style="background-image:url(assets/images/demo/sw1.jpg)"></div>
          <div class="container">
            <div class="row align-items-end vh-100">
              <div class="col-lg-8 text-white" data-swiper-parallax-x="-100%">
                <span class="eyebrow">Bộ sưu tập mới</span>
                <h1 class="mb-3 text-uppercase">MANCERA PARIS</h1>
                <a th:href="listing-full.html" class="btn btn-outline-white">Xem thêm</a>
              </div>
            </div>
          </div>
        </div>

		<!-- https://orchard.vn/san-pham/bvlgari-aqva-pour-homme/ -->
        <div class="swiper-slide">
          <div class="image image--overlay" style="background-image:url(assets/images/demo/swi1.png)"></div>
          <div class="container">
            <div class="row align-items-end vh-100">
              <div class="col-lg-8 text-white" data-swiper-parallax-x="-100%">
                <span class="eyebrow">Sản phẩm mới</span>
                <h1>AQVA POUR HOMME</h1>
                <a th:href="listing-full.html" class="btn btn-outline-white">Mua ngay</a>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="swiper-footer">
        <div class="container">
          <div class="row justify-content-end align-items-center">
            <div class="col-lg-6 text-right">
              <div class="swiper-navigation">
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-next"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- nam và nữ -->
    <section class="py-1">
    
    <!-- https://orchard.vn/san-pham/yves-saint-laurent-la-nuit-de-lhomme-edt/ -->
      <div class="container-full">
        <div class="row gutter-1">
          <div class="col-md-6">
            <div class="card card-tile">
              <figure class="card-image equal vh-75">
                <span class="image" style="background-image: url(assets/images/demo/spnam1.jpg)"></span>
              </figure>
              <div class="card-footer p-lg-5">
                <div class="bg-white d-inline-block p-1">
                  <h2 class="card-title">Nước Hoa Nam</h2>
                  <a th:href="" class="underlined">Xem thêm</a>
                </div>
              </div>
            </div>
          </div>
          
          <!-- https://orchard.vn/san-pham/chanel-coco-mademoiselle-intense-edp/ -->
          <div class="col-md-6">
            <div class="card card-tile">
              <figure class="card-image equal vh-75">
                <span class="image" style="background-image: url(assets/images/demo/womanper.jpg)"></span>
              </figure>
              <div class="card-footer p-lg-5">
                <div class="bg-white d-inline-block p-1">
                  <h2 class="card-title">Nước Hoa Nữ</h2>
                  <a th:href="" class="underlined">Xem thêm</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- sản phẩm khác -->
    <section class="py-lg-0 no-overflow">
      <div class="container">
        <div class="row align-items-center gutter-1">
          <div class="col-lg-3">
            <div class="pr-lg-5">
              <div class="level-1">
                <span class="eyebrow text-muted">SẢN PHẨM KHÁC</span>
                <h2>Nước Hoa</h2>
                <div class="nav nav-tabs flex-lg-column mt-md-3 lavalamp">
                  <a class="nav-item nav-link active" data-filter="1">UNISEX</a>
                  <a class="nav-item nav-link" data-filter="2">NICHE</a>
                  <a class="nav-item nav-link" data-filter="3">MINI</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-9">
            <div class="row gutter-2 filtr-container imagesloaded">

              <!-- unisex -->
              <div class="col-12 filtr-item" data-category="1" data-sort="value">
                <div class="owl-carousel owl-carousel--mask visible" data-items="[2,2,2,1]" data-loop="true" data-margin="10" data-nav="true">
                
                <!-- https://orchard.vn/san-pham/tom-ford-oud-wood/ -->
                  <div class="card card-product">
                    <figure class="card-image">
                      <a th:href="#!" class="action"><i class="icon-heart"></i></a>
                      <a th:href="#!">
                        <img src="assets/images/demo/unisex3.jpg" height="534" alt="Image">
                        <img src="assets/images/demo/unisex3-1.jpg" height="534" alt="Image">
                      </a>
                    </figure>
                    <a th:href="" class="card-body">
                      <h3 class="card-title">Tom Ford Oud Wood</h3>
                      <span class="price">6.180.000 ₫</span>
                    </a>
                  </div>
                  
                  <!--https://orchard.vn/san-pham/tom-ford-lost-cherry/  -->
                  <div class="card card-product">
                    <figure class="card-image">
                      <a th:href="#!" class="action"><i class="icon-heart"></i></a>
                      <a th:href="#!">
                        <img src="assets/images/demo/u2-1.png" height="534" alt="Image">
                        <img src="assets/images/demo/u2-2.png" height="534" alt="Image">
                      </a>
                    </figure>
                    <a th:href="" class="card-body">
                      <h3 class="card-title">Tom Ford Lost Cherry</h3>
                      <span class="price">5.980.000 ₫</span>
                    </a>
                  </div>
                  
                  <!-- https://orchard.vn/san-pham/kilian-black-phantom/ -->
                  <div class="card card-product">
                    <figure class="card-image">
                      <a th:href="#!" class="action"><i class="icon-heart"></i></a>
                      <a th:href="#!">
                        <img src="assets/images/demo/unisex2.jpg" height="534" alt="Image">
                        <img src="assets/images/demo/unisex2-1.jpg" height="534" alt="Image">
                      </a>
                    </figure>
                    <a th:href="" class="card-body">
                      <h3 class="card-title">Kilian Black Phantomh</h3>
                      <span class="price">5.780.000 ₫</span>
                    </a>
                  </div>
                </div>
              </div>

              <!-- niche -->
              <div class="col-12 filtr-item filteredOut" data-category="2" data-sort="value">
                <div class="owl-carousel owl-carousel--mask visible" data-items="[2,2,2,1]" data-loop="true" data-margin="10" data-nav="true">
                
                <!-- https://orchard.vn/san-pham/tom-ford-black-orchid-parfum/ -->
                  <div class="card card-product">
                    <figure class="card-image">
                      <a th:href="#!" class="action"><i class="icon-heart"></i></a>
                      <a th:href="#!">
                        <img src="assets/images/demo/niche1.jpg" height="534" alt="Image">
                        <img src="assets/images/demo/niche1-1.jpg" height="534" alt="Image">
                      </a>
                    </figure>
                    <a th:href="" class="card-body">
                      <h3 class="card-title">Tom Ford Black Orchid Parfum</h3>
                      <span class="price">4.080.000 ₫</span>
                    </a>
                  </div>
                  
                  <!-- https://orchard.vn/san-pham/kilian-angels-share-by-kilian-edp/ -->
                  <div class="card card-product">
                    <figure class="card-image">
                      <a th:href="#!" class="action"><i class="icon-heart"></i></a>
                      <a th:href="#!">
                        <img src="assets/images/demo/ni2-1.png" height="534" alt="Image">
                        <img src="assets/images/demo/ni2-2.png" height="534" alt="Image">
                      </a>
                    </figure>
                    <a th:href="" class="card-body">
                      <h3 class="card-title">Kilian Angels’ Share</h3>
                      <span class="price">4.280.000 ₫</span>
                    </a>
                  </div>
                  
                  <!-- https://orchard.vn/san-pham/kilian-good-girl-gone-bad/ -->
                  <div class="card card-product">
                    <figure class="card-image">
                      <a th:href="#!" class="action"><i class="icon-heart"></i></a>
                      <a th:href="#!">
                        <img src="assets/images/demo/niche3.jpg" height="534" alt="Image">
                        <img src="assets/images/demo/niche3-1.jpg" height="534" alt="Image">
                      </a>
                    </figure>
                    <a th:href="" class="card-body">
                      <h3 class="card-title">Kilian Good Girl Gone Bad (with Coffret)</h3>
                      <span class="price">6.080.000 ₫</span>
                    </a>
                  </div>
                </div>
              </div>

              <!-- mini -->
              <div class="col-12 filtr-item filteredOut" data-category="3" data-sort="value">
                <div class="owl-carousel owl-carousel--mask visible" data-items="[2,2,2,1]" data-loop="true" data-margin="10" data-nav="true">
                
                <!-- https://orchard.vn/san-pham/versace-pour-homme-mini/ -->
                  <div class="card card-product">
                    <figure class="card-image">
                      <a th:href="#!" class="action"><i class="icon-heart"></i></a>
                      <a th:href="#!">
                        <img src="assets/images/demo/mi-1.png" height="534" alt="Image">
                        <img src="assets/images/demo/mi-2.png" height="534" alt="Image">
                      </a>
                    </figure>
                    <a th:href="" class="card-body">
                      <h3 class="card-title">Versace Pour Homme Mini</h3>
                      <span class="price">280.000 ₫</span>
                    </a>
                  </div>
                  
                  <!-- https://orchard.vn/san-pham/dior-jadore-infinissime-edp-mini/ -->
                  <div class="card card-product">
                    <figure class="card-image">
                      <a th:href="#!" class="action"><i class="icon-heart"></i></a>
                      <a th:href="#!">
                        <img src="assets/images/demo/mi2-1.png" height="534" alt="Image">
                        <img src="assets/images/demo/mi-2-2.png" height="534" alt="Image">
                      </a>
                    </figure>
                    <a th:href="" class="card-body">
                      <h3 class="card-title">Dior J’Adore Mini</h3>
                      <span class="price">380.000 ₫</span>
                    </a>
                  </div>
                  
                  <!-- https://orchard.vn/san-pham/jean-paul-gaultier-scandal-mini/ -->
                  <div class="card card-product">
                    <figure class="card-image">
                      <a th:href="#!" class="action"><i class="icon-heart"></i></a>
                      <a th:href="#!">
                        <img src="assets/images/demo/mi3-1.png" height="534" alt="Image">
                        <img src="assets/images/demo/mi3-2.png" height="534" alt="Image">
                      </a>
                    </figure>
                    <a th:href="" class="card-body">
                      <h3 class="card-title">Jean Paul Gaultier Scandal Mini</h3>
                      <span class="price">420.000 ₫</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>


    <!-- thương hiệu -->
    <section>
      <div class="container">
        <div class="row align-items-end">
          <div class="col-8 col-md-6">
            
            <h2>Thương Hiệu</h2>
          </div>
          <div class="col-4 col-md-6 text-right">
            <a th:href="" class="underlined">Xem thêm</a>
          </div>
        </div>
        
       	<!-- https://cdn.orchard.vn/wp-content/uploads/2024/06/fragnance-logo-text-bvlgary.webp -->
        <div class="row gutter-3">
          <div class="col-6 col-lg-3 margin-logo">
            <a th:href="">
              <figure class="category category--alt">
                <div class="equal"><span class="background-img-logo" style="background-image: url(assets/images/demo/logo1.png)"></span>
                </div>
                <figcaption>Bvlgari</figcaption>
              </figure>
            </a>
          </div>
          
          <!-- https://cdn.orchard.vn/wp-content/uploads/2024/06/fragnance-logo-text-ysl.webp -->
          <div class="col-6 col-lg-3 margin-logo">
            <a th:href="">
              <figure class="category category--alt">
                <div class="equal"><span class="background-img-logo" style="background-image: url(assets/images/demo/logo13.webp)"></span></div>
                <figcaption>Yves Saint Laurent</figcaption>
              </figure>
            </a>
          </div>
          
          <!-- https://cdn.orchard.vn/wp-content/uploads/2024/06/fragnance-logo-text-chanel.webp -->
          <div class="col-6 col-lg-3 margin-logo">
            <a th:href="">
              <figure class="category category--alt">
                <div class="equal"><span class="background-img-logo" style="background-image: url(assets/images/demo/logo3.png)"></span></div>
                <figcaption>Chanel</figcaption>
              </figure>
            </a>
          </div>
          
          <!-- https://cdn.orchard.vn/wp-content/uploads/2024/06/fragnance-logo-text-dior.webp -->
          <div class="col-6 col-lg-3 margin-logo">
            <a th:href="">
              <figure class="category category--alt">
                <div class="equal"><span class="background-img-logo" style="background-image: url(assets/images/demo/logo4.png)"></span></div>
                <figcaption>Dior</figcaption>
              </figure>
            </a>
          </div>
          
          <!-- https://cdn.orchard.vn/wp-content/uploads/2024/06/fragnance-logo-text-kilian.webp -->
          <div class="col-6 col-lg-3 margin-logo-bottom">
            <a th:href="">
              <figure class="category category--alt">
                <div class="equal"><span class="background-img-logo" style="background-image: url(assets/images/demo/logo11.webp)"></span></div>
                <figcaption>Kilian</figcaption>
              </figure>
            </a>
          </div>
          
          <!-- https://cdn.orchard.vn/wp-content/uploads/2024/06/fragnance-logo-text-versace.webp -->
          <div class="col-6 col-lg-3 margin-logo-bottom">
            <a th:href="">
              <figure class="category category--alt">
                <div class="equal"><span class="background-img-logo" style="background-image: url(assets/images/demo/logo6.png)"></span></div>
                <figcaption>Versace</figcaption>
              </figure>
            </a>
          </div>
          
          <!-- https://cdn.orchard.vn/wp-content/uploads/2024/06/fragnance-logo-text-jean-paul-gaultier.webp -->
          <div class="col-6 col-lg-3 margin-logo-bottom">
            <a th:href="">
              <figure class="category category--alt">
                <div class="equal"><span class="background-img-logo" style="background-image: url(assets/images/demo/logo7.png)"></span></div>
                <figcaption>Jean Paul Gaultier</figcaption>
              </figure>
            </a>
          </div>
          
          <!-- https://cdn.orchard.vn/wp-content/uploads/2024/06/fragnance-logo-text-tom-ford.webp -->
          <div class="col-6 col-lg-3  margin-logo-bottom">
            <a th:href="">
              <figure class="category category--alt">
                <div class="equal"><span class="background-img-logo" style="background-image: url(assets/images/demo/logo8.png)"></span></div>
                <figcaption>Tom Ford</figcaption>
              </figure>
            </a>
          </div>
        </div>
      </div>
    </section>


	<!-- footer -->
	<footer class="bg-dark pb-0 text-white" th:fragment="footer">
      <div class="container">
        <div class="row justify-content-md-between gutter-2">

          <!-- menu -->
          <div class="order-1 col-md-8 col-lg-4">
            <div class="row">
              <div class="col">
                <h4 class="eyebrow mb-1">BB Perfume</h4>
                <ul class="menu-list">
                  <li class="menu-list-item"><a th:href="" class="menu-list-link">Liên hệ</a></li>
                </ul>
              </div>
              <div class="col">
                <h4 class="eyebrow mb-1">Hỗ trợ</h4>
                <ul class="menu-list">
               	 <li class="menu-list-item"><a th:href="" class="menu-list-link">Cách thức mua hàng</a></li>
                  <li class="menu-list-item"><a th:href="" class="menu-list-link">Hướng dẫn đặt hàng</a></li>
                  <li class="menu-list-item"><a th:href="" class="menu-list-link">Phương thức thanh toán</a></li>
                  <li class="menu-list-item"><a th:href="" class="menu-list-link">Theo dõi đơn hàng</a></li>       
                </ul>
              </div>
            </div>
          </div>

          <!-- subscribe -->
          <div class="order-2 order-md-3 order-lg-2 col-md-8 col-lg-4">
            <h4 class="eyebrow mb-1">Kết nối cùng BBPerfume</h4>
            <div>
            <ul class="list list--horizontal">
              <li><a th:href="#!" class="text-hover-facebook"><i class="fs-28 icon-facebook-square-brands"></i></a></li>
              <li><a th:href="#!" class="text-hover-instagram"><i class="fs-28 icon-instagram-square-brands"></i></a></li>
            </ul>
            </div>
          </div>

          <!-- settings -->
          <div class="order-3 order-md-2 order-lg-3 col-md-4 col-lg-3">
            <h4 class="eyebrow mb-1">Thanh toán</h4>
            <div></div>
            <ul class="list list--horizontal">
              <li><img src="assets/images/demo/visa-1.svg" class="payment" alt="Image"></li>
              <li><img src="assets/images/demo/master-card-1.svg" class="payment" alt="Image"></li>
              <li><img src="assets/images/demo/amex-1.svg" class="payment" alt="Image"></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="bg-transparent mt-8 py-2">
        <div class="container">
          <div class="row align-items-center gutter-1">
            <div class="col-md-8">
              <p class="small text-muted"> Bản quyền nội dung thuộc về &copy; 2023 BBPerfume</p>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="assets/js/vendor.min.js"></script>
    <script src="assets/js/app.js"></script>
  </body>
</html>