<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link th:href="@{/assets/css/vendor.css}" rel="stylesheet" />
<link th:href="@{/assets/css/style.css}" rel="stylesheet" />

<title th:text="'Đơn hàng'"></title>
</head>
<body class="bg-light">

	<!-- header -->
	<div th:replace="~{decorator/header :: header}"></div>

	<!-- content -->
	<section>
		<div class="container">
			<div class="row gutter-1 gutter-md-2">
				<div class="col-lg-4">
					<aside class="bg-white p-2 p-md-3">
						<h3 class="fs-20 text-uppercase text-muted mb-2" th:text="'Xin chào ' + ${user.fullname}"></h3>
						<div class="nav nav-menu flex-column lavalamp" id="sidebar-1" role="tablist">
							<a class="nav-link " data-toggle="tab" th:href="@{/personal/orders}" role="tab" aria-controls="sidebar-1-1" aria-selected="false"><i class="fs-24 icon-box"></i> Đơn hàng</a>
							<a class="nav-link active" data-toggle="tab" th:href="@{/personal/profile}" role="tab" aria-controls="sidebar-1-2" aria-selected="true"><i class="fs-24 icon-user"></i> Thông tin cá nhân </a>
							<a class="nav-link" data-toggle="tab" th:href="@{/personal/changepassword}" role="tab" aria-controls="sidebar-1-3" aria-selected="false"><i class="fs-24 icon-lock"></i> Đổi mật khẩu</a>
						</div>
					</aside>
				</div>
				
				<div class="col-lg-8">
					<div class="bg-white p-2 p-md-3">
						<div class="tab-content" id="myTabContent">

							<!-- Orders Tab -->
							<div class="tab-pane fade " id="sidebar-1-1" role="tabpanel" aria-labelledby="sidebar-1-1">
								<div class="row">
									<div class="col">
										<h2>Đơn hàng</h2>
									</div>
								</div>
								<div class="row gutter-2" th:if="${orders != null}">
									<!-- Loop through orders -->
									<div class="col-12" th:each="order : ${orders}">
										<div class="card card-data bordered">
											<div class="card-header">
												<div class="row align-items-center">
													<div class="col">
														<h2 class="card-title fs-18">
															<a th:href="@{'/order/' + ${order.orderid}}"
																th:text="'Đơn hàng ' + ${order.orderid}">Order 123</a>
														</h2>
													</div>
													<div class="col text-right">
														<span class="dropdown">
															<button class="btn btn-lg btn-white btn-ico"
																id="dropdown-1" data-toggle="dropdown"
																aria-haspopup="true" aria-expanded="false" type="button">
																<i class="icon-more-vertical"></i>
															</button> <span class="dropdown-menu" aria-labelledby="dropdown-1">
																<a class="dropdown-item"
																th:href="@{'/order/' + ${order.orderid} + '/edit'}">Chỉnh
																	sửa</a> <a class="dropdown-item"
																th:href="@{'/order/' + ${order.orderid} + '/cancel'}">Hủy</a>
														</span>
														</span>
													</div>
												</div>
											</div>
											<div class="card-body">
												<!-- Check if products exist -->
												<ul class="order-preview">
													<li
														th:if="${order.orderProducts != null and order.orderProducts.size() > 0}"
														th:each="orderProduct : ${order.orderProducts}"><a
														th:href="@{'/product/' + ${orderProduct.product.productid}}"
														th:title="${orderProduct.product.productname}"> <img
															th:src="${orderProduct.product.imageurl}"
															th:alt="${orderProduct.product.productname}">
													</a>
														<p th:text="'Quantity: ' + ${orderProduct.quantity}"></p>
													</li>
													<li
														th:if="${order.orderProducts == null or order.orderProducts.size() == 0}">
														<p>Không có thông tin sản phẩm</p>
													</li>
												</ul>
											</div>
											<div class="card-body">
												<!-- Order metadata -->
												<ul class="order-meta">
													<li>
														<h5 class="order-meta-title">Mã Đơn Hàng</h5> <span
														th:text="${order.orderid}"></span>
													</li>
													<li>
														<h5 class="order-meta-title">Ngày Đặt Hàng</h5> <span
														th:text="${#temporals.format(order.orderdate, 'yyyy-MM-dd HH:mm:ss')}"></span>
													</li>
													<li>
														<h5 class="order-meta-title">Tổng Số Tiền</h5> <span
														th:text="${order.totalamount}"></span>
													</li>
													<li>
														<h5 style="margin-top: 30px;" class="order-meta-title">Phương
															Thức Thanh Toán</h5> <span th:text="${order.paymentmethod}"></span>
													</li>
													<li>
														<h5 style="margin-top: 30px;" class="order-meta-title">Trạng
															Thái Giao Hàng</h5> <span th:text="${order.deliverystatus}"></span>
													</li>

												</ul>
											</div>
										</div>
									</div>
								</div>

								<!-- No orders message -->
								<div th:if="${order == null}">
									<p>Không có thông tin đơn hàng</p>
								</div>
							</div>

							<!-- personal data -->
							<div class="tab-pane fade show active" id="sidebar-1-2" role="tabpanel" aria-labelledby="sidebar-1-2">
								<div class="row">
									<div class="col">
										<h2>Thông tin cá nhân</h2>
									</div>
								</div>

								<!-- Check if user data exists -->
								<div th:if="${user != null}">
									<form th:action="@{/personal/profile/update}" method="post">
										
										<!-- Username -->
										<fieldset class="mb-2">
											<div class="row">
												<div class="col-12">
													<div class="form-label-group">
														<input id="id" th:name="id" th:value="${user.id}"
															hidden="true"></input> <input type="text"
															id="inputUsername" name="username"
															class="form-control form-control-lg"
															placeholder="Tên người dùng" readonly
															th:value="${user.username}"> <label
															for="inputUsername">Tên người dùng</label>
													</div>
												</div>
											</div>
										</fieldset>

										<!-- Full Name -->
										<fieldset class="mb-2">
											<div class="row">
												<div class="col-12">
													<div class="form-label-group">
														<input type="text" id="inputFullName" name="fullname"
															class="form-control form-control-lg"
															placeholder="Họ và tên" required
															th:value="${user.fullname}"> <label
															for="inputFullName">Họ và tên</label>
													</div>
												</div>
											</div>
										</fieldset>

										<!-- Email -->
										<fieldset class="mb-2">
											<div class="row">
												<div class="col-12">
													<div class="form-label-group">
														<input type="email" id="inputEmail" name="email"
															class="form-control form-control-lg" placeholder="Email"
															required th:value="${user.email}"> <label
															for="inputEmail">Email </label>
													</div>
												</div>
											</div>
										</fieldset>

										<!-- Address -->
										<fieldset class="mb-2">
											<div class="row">
												<div class="col-12">
													<div class="form-label-group">
														<input type="text" id="inputAddress" name="address"
															class="form-control form-control-lg"
															placeholder="Địa chỉ" th:value="${user.address}">
														<label for="inputAddress">Địa chỉ</label>
													</div>
												</div>
											</div>
										</fieldset>

										<!-- Phone Number -->
										<fieldset class="mb-2">
											<div class="row">
												<div class="col-12">
													<div class="form-label-group">
														<input type="text" id="inputPhoneNumber"
															name="phonenumber" class="form-control form-control-lg"
															placeholder="SDT" th:value="${user.phonenumber}">
														<label for="inputPhoneNumber">Số điện thoại</label>
													</div>
												</div>
											</div>
										</fieldset>

										<!-- Role (Optional Display) -->
										<fieldset class="mb-2" th:if="${user.role != null}">
											<div class="row">
												<div class="col-12">
													<div class="form-label-group">
														<input type="text" id="inputid" name="role" hidden="true"
															class="form-control form-control-lg"
															placeholder="Vai trò" readonly
															th:value="${user.role.roleid}"> <input
															type="text" id="inputRole"
															class="form-control form-control-lg"
															placeholder="Vai trò" readonly
															th:value="${user.role.rolename}"> <label
															for="inputRole">Vai trò</label>
													</div>
												</div>
											</div>
										</fieldset>

										<!-- Submit Button -->
										<div class="row">
											<div class="col">
												<button type="submit" class="btn btn-primary">Lưu
													thay đổi</button>
											</div>
										</div>
									</form>
								</div>

								<!-- If no user data -->
								<div th:if="${user == null}">
									<p>Chưa có thông tin user</p>
								</div>
							</div>

							<!-- change password -->
							<div class="tab-pane fade " id="sidebar-1-3" role="tabpanel" aria-labelledby="sidebar-1-3">
								<div class="row">
									<div class="col">
										<h2>Đổi mật khẩu</h2>
									</div>
								</div>

								<form th:action="@{/users/change-password}" method="post">
									<!-- Current Password -->
									<fieldset class="mb-2">
										<div class="row">
											<div class="col-12">
												<div class="form-label-group">
													<input type="password" id="currentPassword"
														name="currentPassword"
														class="form-control form-control-lg"
														placeholder="Mật khẩu cũ" required> <label
														for="currentPassword">Mật khẩu cũ</label>
												</div>
											</div>
										</div>
									</fieldset>

									<!-- New Password -->
									<fieldset class="mb-2">
										<div class="row">
											<div class="col-12">
												<div class="form-label-group">
													<input type="password" id="newPassword" name="newPassword"
														class="form-control form-control-lg"
														placeholder="Mật khẩu mới" required> <label
														for="newPassword">Mật khẩu mới</label>
												</div>
											</div>
										</div>
									</fieldset>

									<!-- Confirm New Password -->
									<fieldset class="mb-2">
										<div class="row">
											<div class="col-12">
												<div class="form-label-group">
													<input type="password" id="confirmPassword"
														name="confirmPassword"
														class="form-control form-control-lg"
														placeholder="Xác nhận mật khẩu" required> <label
														for="confirmPassword">Xác nhận mật khẩu</label>
												</div>
											</div>
										</div>
									</fieldset>

									<!-- Submit Button -->
									<div class="row">
										<div class="col">
											<button type="submit" class="btn btn-primary">Lưu
												mật khẩu</button>
										</div>
									</div>
								</form>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- footer -->
	<footer th:replace="~{decorator/footer :: footer}"></footer>

	<script th:src="@{/assets/js/vendor.min.js}"></script>
	<script th:src="@{/assets/js/app.js}"></script>
</body>
</html>