<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/assets/css/vendor.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/style.css}" />

    <title th:text="'Product'"></title>
</head>
<body>

<header th:replace="home/header :: header"></header>

<section style="padding: 2.5rem 0;"></section>

<!-- breadcrumbs -->
<section class="breadcrumbs bg-light">
    <div class="container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{/home}" th:text="'Trang chủ'"></a></li>
                        <li class="breadcrumb-item active" aria-current="page" th:text="'Blouses'"></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<!-- product -->
<section class="hero">
    <div class="container">
        <div class="row gutter-2 gutter-md-4 justify-content-between">

            <!-- carousel -->
            <div class="col-lg-7">
                <div class="row gutter-1 justify-content-between">
                    <div class="col-lg-10 order-lg-2">
                        <div class="owl-carousel owl-carousel--alt gallery" data-margin="0" data-slider-id="1" data-thumbs="true" data-nav="true">
                            <figure th:each="image : ${product.images}">
                                <a th:href="${image.largeUrl}"><img th:src="${image.largeUrl}" alt="Image"></a>
                            </figure>
                        </div>
                    </div>
                    <div class="col-lg-2 text-center text-lg-left order-lg-1">
                        <div class="owl-thumbs" data-slider-id="1">
                            <span class="owl-thumb-item" th:each="image : ${product.images}">
                                <img th:src="${image.thumbUrl}" alt="">
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-5 mb-lg-0">

                <!-- description -->
                <div class="row">
                    <div class="col-12">
                        <span class="eyebrow text-muted" th:text="${product.brand}"></span>
                        <h1 th:text="${product.name}"></h1>
                        <span class="price fs-18" th:text="${product.price}"></span>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group">
                        <label>Product code</label>
                        <small class="d-block text-dark" th:text="${product.code}"></small>
                    </div>
                </div>
                <div class="col-12">
                    <a th:href="@{/cart/add/{id}(id=${product.id})}" class="btn btn-block btn-primary" th:text="'Thêm vào giỏ hàng'"></a>
                </div>

                <!-- accordion -->
                <div class="row">
                    <div class="col">
                        <div class="accordion" id="accordion-1">
                            <div class="card active">
                                <div class="card-header" id="heading-1-1">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-1-1" aria-expanded="true" aria-controls="collapse-1-1">
                                            Details
                                        </button>
                                    </h5>
                                </div>

                                <div id="collapse-1-1" class="collapse show" aria-labelledby="heading-1-1" data-parent="#accordion-1">
                                    <div class="card-body">
                                        <ul class="list list--unordered">
                                            <li th:each="detail : ${product.details}" th:text="${detail}"></li>
                                        </ul>
                                        <p th:text="${product.description}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- related -->
<section class="no-overflow">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 th:text="'Recently viewed'"></h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="owl-carousel visible" data-items="[4,3,2,1]" data-margin="10" data-nav="true" data-loop="true">
                    <div class="card card-product" th:each="relatedProduct : ${relatedProducts}">
                        <figure class="card-image">
                            <a href="#" class="action"><i class="icon-heart"></i></a>
                            <a th:href="@{/product/{id}(id=${relatedProduct.id})}">
                                <img th:src="${relatedProduct.imageMain}" alt="Image">
                                <img th:src="${relatedProduct.imageAlt}" alt="Image">
                            </a>
                        </figure>
                        <a th:href="@{/product/{id}(id=${relatedProduct.id})}" class="card-body">
                            <h3 class="card-title" th:text="${relatedProduct.name}"></h3>
                            <span class="price" th:text="${relatedProduct.price}"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer th:replace="home/footer :: footer"></footer>

<script th:src="@{/assets/js/vendor.min.js}"></script>
<script th:src="@{/assets/js/app.js}"></script>
</body>
</html>
