<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="assets/css/vendor.css" />
    <link rel="stylesheet" href="assets/css/style.css" />

    <title>Đăng ký</title>
  </head>
  <body class="bg-light">


  <div th:replace="~{home/header :: header}"></div>
  
    <!-- login -->
    <section class="sectionlog">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4">
            <div class="card boxed">
              <div class="card-header">
                <ul class="nav nav-tabs nav-fill card-header-tabs lavalamp" id="component-1" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#component-1-1" role="tab" aria-controls="component-1-1" aria-selected="true">Đăng ký</a>
                  </li>    
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content" id="component-1-content">
                  <div class="tab-pane fade show active" id="component-1-1" role="tabpanel" aria-labelledby="component-1-1">
                    <div class="row gutter-2">
                      <div class="col-12">
                        <fieldset>
                          <div class="row">
                            <div class="col-12">
                              <div class="form-label-group">
                                <input type="text" id="inputName2" class="form-control form-control-lg" placeholder="First name" required="">
                                <label for="inputName">Tên tài khoản</label>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <div class="form-label-group">
                                <input type="text" id="inputEmail2" class="form-control form-control-lg" placeholder="Email address" required="">
                                <label for="inputEmail">Mật khẩu</label>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <div class="form-label-group">
                                <input type="text" id="inputEmail2" class="form-control form-control-lg" placeholder="Email address" required="">
                                <label for="inputEmail">Họ và tên</label>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <div class="form-label-group">
                                <input type="text" id="inputPassword2" class="form-control form-control-lg" placeholder="Password" required="">
                                <label for="inputPassword">Số điện thoại</label>
                              </div>
                            </div>
                          </div>
                           <div class="row">
                            <div class="col-12">
                              <div class="form-label-group">
                                <input type="text" id="inputPassword2" class="form-control form-control-lg" placeholder="Password" required="">
                                <label for="inputPassword">Email</label>
                              </div>
                            </div>
                          </div>
                           <div class="row">
                            <div class="col-12">
                              <div class="form-label-group">
                                <input type="text" id="inputPassword2" class="form-control form-control-lg" placeholder="Password" required="">
                                <label for="inputPassword">Địa chỉ</label>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <div class="form-label-group">
                                <input type="date" id="inputPassword2" class="form-control form-control-lg" placeholder="Password" required="">
                                <label for="inputPassword">Ngày sinh</label>
                              </div>
                            </div>
                          </div>
                        </fieldset>
                      </div>
                      
                      <div class="col-12">
                        <span class="label d-block">Giới tính</span>
                        <div class="d-block">
                          <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                            <label class="custom-control-label" for="customRadioInline1">Nam</label>
                          </div>
                          <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                            <label class="custom-control-label" for="customRadioInline2">Nữ</label>
                          </div>
                        </div>
                        <small class="text-muted lh-sm">We will use this information for tailoring your experience.</small>
                        <div class="custom-control custom-checkbox mt-1">
                          <input type="checkbox" id="customCheckbox1" name="customCheckbox1" class="custom-control-input">
                          <label class="custom-control-label text-muted" for="customCheckbox1">Yes, I agree to the <a href="" class="underline">Terms and Conditions</a></label>
                        </div>
                      </div>
                      <div class="col-12">
                        <a href="" class="btn btn-primary btn-block">Đăng ký</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- footer -->
  <footer th:replace="home/footer :: footer"></footer>


    <script src="assets/js/vendor.min.js"></script>
    <script src="assets/js/app.js"></script>
  </body>
</html>