<div class="row" th:fragment="paging" xmlns:th="https://www.thymeleaf.org">
    <div class="col">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" th:href="#!">Previous</a></li>
                <li class="page-item active"><a class="page-link" th:href="#!">1</a></li>
                <li class="page-item"><a class="page-link" th:href="#!">2</a></li>
                <li class="page-item"><a class="page-link" th:href="#!">3</a></li>
                <li class="page-item"><a class="page-link" th:href="#!">4</a></li>
                <li class="page-item"><a class="page-link" th:href="#!">5</a></li>
                <li class="page-item"><a class="page-link" th:href="#!">Next</a></li>
            </ul>
        </nav>
    </div>
</div>