<!-- Vòng lặp Thymeleaf để tạo sản phẩm từ dữ liệu -->
<div class="row gutter-1">
    <div class="col-6 col-md-4" th:fragment="product-listing" xmlns:th="https://www.thymeleaf.org" th:each="product : ${products}">
        <div class="card card-product">
            <figure class="card-image">
                <a th:href="@{'/wishlist/add/' + ${product.id}}" class="action"><i class="icon-heart"></i></a>
                <a th:href="@{'/product/' + ${product.id}}">
                    <img th:src="${product.imageUrl}" th:alt="${product.name}">
                    <img th:src="${product.secondaryImageUrl}" th:alt="${product.name}">
                </a>
                <span th:if="${product.isNew}" class="badge badge-success" th:text="|New|">New</span>
            </figure>
            <div class="card-footer">
                <h3 class="card-title">
                    <a th:href="@{'/product/' + ${product.id}}" th:text="${product.name}">Product Name</a>
                </h3>
                <span class="brand" th:text="${product.brand}">Brand</span>
                <span class="price" th:if="${product.discountedPrice}" th:text="${product.discountedPrice}">Discounted Price</span>
                <span class="price" th:unless="${product.discountedPrice}" th:text="${product.price}">Price</span>
            </div>
        </div>
    </div>
</div>

