<!-- change password -->
<div class="tab-pane fade" id="sidebar-1-4" role="tabpanel" aria-labelledby="sidebar-1-4" th:fragment="resetpass"  xmlns:th="https://www.thymeleaf.org">
    <div class="row">
        <div class="col">
            <h2>Change Password</h2>
        </div>
    </div>

    <fieldset class="mb-2">
        <div class="row">
            <div class="col-12">
                <div class="form-label-group">
                    <input type="password" id="inputPassword" class="form-control form-control-lg" placeholder="Current Password" required="" value="$120-N<>&^9">
                    <label for="inputPassword">Current Password</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-label-group">
                    <input type="password" id="inputPassword2" class="form-control form-control-lg" placeholder="New Password" required="">
                    <label for="inputPassword2">New Password</label>
                </div>
            </div>
        </div>
    </fieldset>

    <div class="row">
        <div class="col">
            <a th:href="" class="btn btn-primary">Save Password</a>
        </div>
    </div>
</div>