 <div class="py-1 bg-dark">
        <div class="container-fluid">
          <div class="row">
            <div class="col">
              <div class="owl-carousel owl-carousel-promo" data-loop="true" data-items="[3,3,2,1]" data-margin="10" data-nav="true">
                <h6 class="fs-14 text-uppercase text-center text-white m-0"><i class="icon-truck mr-1 text-opaque"></i>FREESHIP CHO MỌI ĐƠN HÀNG</h6>
                <h6 class="fs-14 text-uppercase text-center text-white m-0"><i class="icon-award mr-1 text-opaque"></i>THƯƠNG HIỆU NƯỚC HOA UY TÍN TỪ 2023</h6>
                <h6 class="fs-14 text-uppercase text-center text-white m-0"><i class="icon-shield mr-1 text-opaque"></i>ĐẢM BẢO HOÀN TIỀN TRONG 30 NGÀY</h6>
              </div>
            </div>
          </div>
        </div>
      </div>